.display__none{
    display: none;
}

.nav{
    li{
        cursor: pointer;
    }
}


.portfolio__title{
    display: flex;
    justify-content: center;
    text-align: center;
	margin-bottom: 1em;
    align-items: center;
    i{
        margin-left: 15px;
    }
    span{
        cursor: pointer;
    }
}

main{
    max-width: 955px;
    margin: auto;
}

footer{
    background-color: white;
    padding: 5px 0px;
    nav{
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 16px;
        max-width: 1226px;
    }
}